:root {
    --primary-text-color: #2E2F42;
    --baccgrou
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;;
    color: var(--primary-text-color);
} 
.list {
    list-style: none;
}
.header {
}


/* Site nav */


.header-navigation {
}
.header-span {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.header-logo:hover,
.header-logo:focus {
    color: azure;
}
.header-list {
}
.header-item {
}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-link:hover{
color: #434455;
}
.header-link:focus {
color: #4D5AE5;
}


/* Contacts */


.header-contacts {
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.header-contacts:hover,
.header-contacts:focus {
color: #4D5AE5;
}
.header-tel:hover {
}
.header-mail {
}
.header-tel {
}


/* Effective solutions */


.bussiness {
    background-color: #2E2F42;;
}
.bussiness-tittle {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.bussiness-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}
.bussiness-btn:hover,
.bussiness-btn:focus {
    color: #FFFFFF;
}


/* What we offer */


.offers {
}
.offers-list {
}
.offers-item {
}
.offers-tittle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.offers-after-tittle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/* What are we doing */


.job {
}
.job-tittle{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.job-list {
}
.job-item {
}


/* Our team */


.team {
}
.team-tittle {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-list {
}
.team-item {
}
.team-item-tittle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-after-tittle {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}


/* PORTFOLIO */


.portfolio {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #FFFFFF;
}
.portfolio-tittle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-after-tittle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/* footer */


.footer {
    background-color: #2E2F42;;
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.footer-logo:hover,
.footer-logo:focus {
    color: azure;
}
.footer-span{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5; 
}
.footer-tittle {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}