body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;;
    color: #2E2F42;
} 
.list {
    list-style: none;
}
.header {
}
.header-navigation {
}
.header-span {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.header-logo:hover,
.header-logo:focus {
    color: azure;
}
.header-list {
}
.header-item {
}
.header-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-link:hover,
.header-link:focus {
color: aqua;
}
.header-contacts {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.header-mail:hover,
.header-mail:focus {
color: rgb(6, 155, 105);
}
.header-tel:hover {
color: rgb(6, 155, 105);
}
.header-mail {
}
.header-tel {
}
.bussiness {
}
.bussiness-tittle {
font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.bussiness-btn {
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}
.bussiness-btn:hover,
.bussiness-btn:focus {
    color: #4D5AE5;
}
.offers {
}
.offers-list {
}
.offers-item {
}
.offers-tittle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.offers-after-tittle {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.job {
}
.job-tittle{
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.job-list {
}
.job-item {
}
.team {
}
.team-tittle {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-list {
}
.team-item {
}
.team-item-tittle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-after-tittle {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.footer {
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.footer-logo:hover,
.footer-logo:focus {
    color: rgb(6, 155, 105);
}
.footer-span{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5; 
}
.footer-tittle {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}
.portfolio {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-btn {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #F4F4FD;
}
.portfolio-tittle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-after-tittle {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}